@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}
#brand {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.nav-links ul {
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.nav-links li:hover {
  background-color: #555;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}
@media (max-width: 450px) {
  .toggle-button {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
}
main {
  /* padding: 10em; fine for laptop size*/
  /* padding: 5em 1.1em 4em 1.1em;*/
  padding: 5em 1.1em 4em 1.1em;
}
main #home {
  padding-bottom: 8em;
  /*padding: 5em 1.1em 4em 1.1em;*/
}
main #home .introduction {
  font-family: "Fira Mono", monospace;
  color: #2ecfaa;
  margin-bottom: 1em;
}

#home .name,
.profession {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.3em;
}
#home .verticalLinks {
  display: none;
}
#home .elaborateIntro,
.introduction {
  /* max-width: 600px;*/
  /*font-size: 1.1rem;
  text-align: justify;*/
}
p {
  font-size: 1.1rem;
  line-height: 30px;
  text-align: justify;
}
#home .elaborateIntro {
  margin-top: 1em;
  /*line-height: 30px;*/
}
#home #btnContact {
  margin-top: 2.5em;
  padding: 1.1em;
  width: 15em;
  font-family: "Fira Mono", monospace;
  border: 1px solid #2ecfaa;
  border-radius: 3px;
  background-color: white;
  font-size: 1rem;
}
#about .header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#about .about-header {
  margin-bottom: 1.5em;
  font-size: 1.5rem;
}
#about .headerHorizontalLine {
  width: 8em;
  height: 2px;
  background-color: hsl(36, 72%, 48%);
  position: relative;
  top: 1.1em;
  margin-left: 0.4em;
}
#about .girl {
  width: 18em;
  margin-top: 3em;
  border: 2px solid springgreen;
  border-radius: 5px;
}
@media (min-width: 400px) {
  /*main #home {
    padding-right: 2em;
    padding-left: 2em;
  }*/
  main {
    padding-right: 2em;
    padding-left: 2em;
  }
  #home .name,
  .profession {
    font-size: 1.9rem;
  }
}
@media (min-width: 568px) {
  /* main #home {
    padding-left: 3em;
    padding-right: 3em;
  }*/
  main {
    padding-left: 3em;
    padding-right: 3em;
  }
  #home .name,
  .profession {
    font-size: 2.5rem;
    margin: 0 !important;
  }
  #home .elaborateIntro {
    margin-top: 1.5em;
  }
  #about .headerHorizontalLine {
    width: 12em;
    margin-left: 0.6em;
  }
  #about .girl {
    width: 22em;
  }
}
@media (min-width: 768px) {
  /*main #home {
    padding-right: 7em;
    padding-left: 8em;
  }*/
  main {
    padding-left: 8em;
    /*   padding-right: 7em;*/
    padding-right: 0;
  }
  main #home {
    padding-bottom: 10em;
    padding-right: 7em; /*+*/
  }
  #home .elaborateIntro {
    max-width: 600px;
  }
  #home .name,
  .profession {
    font-size: 3rem;
  }
  #home .verticalLinks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 2.5em;
    top: 17em;
  }
  #home .verticalLinks a {
    text-decoration: none;
    padding-bottom: 2em;
  }
  #home .pointing-line {
    height: 150px;
    background-color: orange;
    width: 2px;
    margin: 0 auto;
  }
  main #about {
    padding-right: 2em;
  }
  #about .headerHorizontalLine {
    width: 15em;
  }
  #about .about-explanation {
    display: flex;
    justify-content: space-between;
  }
  #about .girl {
    margin: 0.5em 0 0 2em;
  }
}
@media (min-width: 1024px) {
  /*main #home {
    padding-left: 12em;
  }*/
  main {
    padding-left: 12em;
  }

  #home .name,
  .profession {
    font-size: 4rem;
  }
  #home .elaborateIntro {
    max-width: 600px;
  }

  #home .verticalLinks {
    left: 3em;
  }
  #about .headerHorizontalLine {
    width: 18em;
  }
  main #about {
    padding-right: 7em;
  }
  #about .girl {
    margin-left: 3em;
  }
}
